<!--
  <!% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
<h1>Log in</h1>
<!%= form_tag(:action => 'login_attempt') do %>
  <p>Username or Email:</br> <!%= text_field_tag(:username_or_email) %></p> 
  <p>Password:</br> <!%= password_field_tag :login_password %></p> 
  <!%= submit_tag("Log In") %>
  <!% end %>
</div>-->

<% provide(:title, 'Sign in') %>
<%= bootstrap_form_for("user", :url => login_path, :html => { :class => "form-horizontal"}) do |f| %>

  <div class="well">
    <fieldset>
      <div class="col-md-8 col-md-offset-2">
        <legend>Log in to Your Diary</legend>

        <div class="form-group">
          <%= f.text_field :email, label: "Email" %>
          <%= f.password_field :password, label: "Password"%>

          <div class="form-actions">
            <%= f.submit %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
