<div class="jumbotron">
	<div class="row">
		<div class="span6" style="text-align:center">
			<h1 ><%= image_tag('bg.jpg', :size => "1000x500") %>Body and Mind</h1>
			
			
			<a href="/reports/new" class="btn btn-success btn-lg">List your report</a>
		</br>
		</br>
			
			<!-- <a href="/new_user" class="btn btn-warning btn-md" >Create your profile</a> Or,
			<a href="/new_project" class="btn btn-warning btn-md" >Post your project</a> -->
		<!-- <p>Finding local collaborators was never this easy.</p> -->
		</div>
	</div>
</div>
