<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello,</p>
</br>
<p> Please find attached your diary entries. Thank you for using Body and Mind.</p>
</br>

<p>Best regards,</p>

<p>Body and Mind Team</p>
</body>
</html>