<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
<br>

<div class="row">
  <div class="well col-md-3 col-md-offset-5 well">
    <h2 style="text-align: center ">Your Diary</h2>
    <hr>
    
    <h4>Sleep, Energy, and Stress</h4>
    <div class="graph-wrapper">
      <span class="report-graph" id="multi-graph"></span>
    </div>
  </div>
</div>
<br>

<div class="row">
  <%= link_to 'New Report', new_report_path %>
</div>
<%= content_tag :div, :hidden, id: "entries", data: {entries: Report.order("created_at").last(limit=7).to_a.map{ |r| r.to_hash}.to_json } 
 -%>
<script type="text/javascript">
  var dataset = $(entries).data()["entries"];
  var sleepDataSet = dataset.map(function(dp){return dp.sleep;});
  var energyDataSet = dataset.map(function(dp){return dp.energy;});
  var stressDataSet = dataset.map(function(dp){return dp.stress;});
  console.log("datasets");
  console.log(dataset);
  console.log(sleepDataSet);
  console.log(stressDataSet);
  console.log(energyDataSet);

  function displayGraph(id, width, height) {
    var graph = d3.select(id).append("svg:svg").attr("width", "100%").attr("height", "100%");
    
    var x = d3.scale.linear().domain([0, 7]).range([-5, width]);
    var y = d3.scale.linear().domain([0, 10]).range([0, height]);
    var line = d3.svg.line()
      .x(function(d,i) { 
        return x(i); 
      })
      .y(function(d) { 
        return y(d); 
      })
      .interpolate("basis")
            
      graph.append("svg:path").attr("d", line(sleepDataSet));
      graph.append("svg:path").attr("d", line(stressDataSet));
      graph.append("svg:path").attr("d", line(energyDataSet));

    }

    var chart = "#multi-graph";
    displayGraph(chart, 200, 70);
      
</script>


<style>
  .graph-wrapper {
    width: 200px;
    margin: 20px auto;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
  }
  .report-graph {
    height: 60px;
    width:100%;
    margin: 0 auto;
  }

  .report-graph path {
     stroke: #1b70e0;
     stroke-width: 2;
     fill: none;
  }

  #multi-graph  path{
    stroke: #FFD865;
  }

</style>
