<footer class= "footer">
  <nav>
    <ul>
      <li><%= link_to "Home", '/' %></li>
    </ul>
  </nav>
  <small>
    Designed by Team Green
  </small>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
